* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 1000px;
}

header {
    background-color: black;
    width: 100%;
    height: 100px;
    position: sticky;
}


header.red {
    background-color: red;
    bottom: 0px;
}