*{
    padding: 0;
    margin: 0;

}

.block{
    background-color: rgba(63, 179, 179, 0.212);
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 300px auto;
}
.inpWrapper{
    background-color: bisque;
    width: 300px;
    height: 50px;
    text-align: center;
}
